/* helveticaneue-garde-gothic */

/* **
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 900;
  src: url("../fonts/HelveticaNeue Medium.ttf");
}

@font-face {
  font-family: 'helveticaneue';
  font-weight: 700;
  src: url("../fonts/HelveticaNeue Medium.ttf");
}

@font-face {
  font-family: 'helveticaneue';
  font-weight: 600;
  src: url("../fonts/HelveticaNeue Medium.ttf");
}
@font-face {
  font-family: 'helveticaneue';
  font-weight: 200;
  src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
  font-family: 'helveticaneue';
  font-weight: 300;
  src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
  font-family: 'helveticaneue';
  font-weight: 400;
  src: url("../fonts/HelveticaNeue Medium.ttf");
}**** */

.tk-liberation-sans {
  font-family: "liberation-sans",sans-serif;
}

