.calendar .table .event .event-name {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
  position: relative;
  cursor: pointer;
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
}

.calendar .table .event .left-header .event-name {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
  position: relative;
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
}

.calendar .table .event .left-header .event-name {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
  position: relative;
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
}

.calendar.weekly .table thead th {
  padding: 1rem;
  width: 10%;
}

.calendar .table thead th {
  padding: 2rem;
  width: 15%;
}

.event-name.one-event {
  height: 25px;
}

.event-name.two-event {
  height: 50px;
}

.event-name.three-event {
  height: 75px;
}

.event-name.four-event {
  height: 100px;
}

.event-name.event-type-one {
  background-color: rgb(176,243,252);
}

.event-name.event-type-two {
  background-color: black;
  color: white;
}

.event-name.event-type-three {
  background-color: rgba(235,235,235,0.69);
}

.event-name.event-type-four {
  background-color: white;
}

.calendar .table {
  font-size: 10px;
  width: 100%;
  /*padding: 1rem;*/
}

.position-absolute {
  /*position: absolute;*/
}

.event-name p {
  text-overflow: ellipsis;
  overflow: hidden;
  /*white-space: nowrap;*/
}

.event-name.event-type-five {
  background: url(../../assets/img/pinpng.com-fantasy-map-icons-png-1444068.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(235,235,235,0.69);
}

.calendar.monthly table .event .event-name {
  border: 1px solid white;
  border-bottom: none;
  width: 140px;
}

.calendar.monthly table .event .event-name.month-day {
  text-align: center;
}

.calendar.monthly table .event .event-name.month-day.next-month-day, .calendar.monthly table .event .event-name.month-day.previous-month-day {
  color: rgb(186,186,186);
}

.event {
  height: 100px;
}

.dropdown-menu {
  font-size: 14px;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.appointment .form-control {
  font-size: 12px;
  border: 0;
  background-color: rgb(224,224,224);
  padding-top: 0;
  padding-bottom: 0;
}

.appointment button.form-control {
  /*font-size: 12px;*/
  border: 1px solid;
  /*background-color: rgb(224,224,224);*/
  /*height: 25px;*/
}

.bg-none {
  background-color: transparent !important;
}

.form-control.title {
  font-size: 16px;
}

.appointment.dropdown-menu {
  background-color: white;
}

.dropdown-menu a {
  text-decoration: underline;
}

.custom-control-label::before {
  opacity: 0;
}

.custom-control-input {
  opacity: 1;
}

.list-group-item {
  border: 0;
  padding: 0.25rem 0;
}

.calendar .calendar-header-weekly {
  background-color: transparent !important;
  color: black;
  padding: 1rem;
  font-weight: bold;
}

