@media (min-width: 300px) and (max-width: 800px) {
  .calendar .table .event .event-name {
    padding: 0.25rem;
    border-bottom: 1px solid #dee2e6;
    position: relative;
    cursor: pointer;
  }
}

@media (min-width: 800px) {
  .calendar .table .event .event-name {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
    position: relative;
    cursor: pointer;
    /*border-right: 1px solid #dee2e6;*/
  }
}

@media (min-width: 300px) and (max-width: 756px) {
  .calendar.monthly .table .event .event-name {
    padding: 0;
    border-bottom: 1px solid #dee2e6;
    position: relative;
    cursor: pointer;
    /*border-right: 1px solid #dee2e6;*/
  }
}

.calendar .table .event .left-header .event-name {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

.calendar .table .event .left-header .event-name {
  padding: 0.5rem;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

.calendar.weekly .table thead th {
  padding: 1rem;
  width: 10%;
}

.calendar .table thead th {
  padding: 2rem;
  width: 15%;
}

@media (min-width: 1280px) {
  .event-name.one-event {
    height: 25px;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  .event-name.one-event {
    height: 25px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .event-name.one-event {
    height: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .event-name.one-event {
    height: 12.5px;
  }
}

@media (min-width: 1280px) {
  .event-name.two-event {
    height: 50px;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  .event-name.two-event {
    height: 50px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .event-name.two-event {
    height: 30px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .event-name.two-event {
    height: 25px;
  }
}

@media (min-width: 1280px) {
  .event-name.three-event {
    height: 75px;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  .event-name.three-event {
    height: 75px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .event-name.three-event {
    height: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .event-name.three-event {
    height: 16.7px;
  }
}

@media (min-width: 1280px) {
  .event-name.four-event {
    height: 100px;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  .event-name.four-event {
    height: 100px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .event-name.four-event {
    height: 60px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .event-name.four-event {
    height: 50px;
  }
}

.event-name.event-type-one {
  background-color: rgb(176,243,252);
}

.event-name.event-type-two {
  background-color: black;
  color: white;
}

.event-name.event-type-three {
  background-color: rgba(235,235,235,0.69);
}

.event-name.event-type-four {
  background-color: white;
}

.calendar .table {
  font-size: 10px;
  width: 100%;
  padding: 0 1rem 1rem 0;
}

.position-absolute {
}

.event-name p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event-name.event-type-five {
  background: url(../../assets/img/pinpng.com-fantasy-map-icons-png-1444068.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(235,235,235,0.69);
}

.calendar.monthly table .event .event-name {
  border: 1px solid white;
  border-bottom: none;
  width: 140px;
}

.calendar.monthly .table .event .event-name.month-day {
  text-align: center;
}

.calendar.monthly .table .event .event-name.month-day.next-month-day, .calendar.monthly .table .event .event-name.month-day.previous-month-day {
  color: rgb(186,186,186);
}

@media (min-width: 1280px) {
  .event {
    height: 100px;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  .event {
    height: 100px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .event {
    height: 60px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .event {
    height: 50px;
  }
}

.dropdown-menu {
  font-size: 14px;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.appointment .form-control {
  font-size: 12px;
  border: 0;
  background-color: rgb(224,224,224);
  padding-top: 0;
  padding-bottom: 0;
}

.appointment button.form-control {
  border: 1px solid;
}

.bg-none {
  background-color: transparent !important;
}

.form-control.title {
  font-size: 16px;
}

.appointment.dropdown-menu {
  background-color: white;
}

.dropdown-menu a {
  text-decoration: underline;
}

.custom-control-label::before {
  opacity: 0;
}

.custom-control-input {
  opacity: 1;
}

.list-group-item {
  border: 0;
  padding: 0.25rem 0;
}

.calendar .calendar-header-weekly {
  background-color: transparent !important;
  color: black;
  padding: 1rem;
  font-weight: bold;
}

.monthly .event {
  /*border-left: 1px solid #dee2e6;*/
}

.event {
  border-right: 1px solid #dee2e6;
}

.nav-button {
  width: 50px !important;
}

.appointment-select.form-control {
  border-radius: 0;
  background-color: #dee2e6;
}

